@charset "UTF-8";

* {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0%;
	padding: 0%;
	box-sizing: border-box;
}

h2 {
	text-align: center;
	color: #333;
}

.btn {
	margin-left: 20px;
}

.card-container {
	display: flex;
	justify-content: center;
	align-items: center;
	justify-content: space-between;
	padding-top: 5%;
	padding-left: 4%;
	padding-right: 4%;
}

.card-btn {
	background-color: #007;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
}

.main-form {
	max-width: 600px;
	margin: 0% auto;
	padding: 20px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 1);
	height: 12%;
}

/* input field styling for login/signup */
input[type="text"], input[type="password"], input[type="email"], input[type="number"],
	select {
	width: 100%;
	padding: 10px;
	margin: 5px 0;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
	font-size: 16px;
}

/* select field styling */
select {
	width: 140px;
	padding: 10px;
	margin: 5px 0;
	box-sizing: border-box;
	border-radius: 5px;
	font-size: 16px;
	background-color: #fff;
	appearance: none;
}

input[type="button"], input[type="reset"], input[type="checkbox"] {
	background-color: #007;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
}

input[type="button"]:hover, input[type="reset"]:hover, input[type="checkbox"]:hover
	{
	background-color: #0056b3;
}

/* error massage print styling */
.error-massage {
	color: red;
	font-size: 14px;
	margin-top: 5px;
}

.result {
	max-width: 600px;
	height: 60px;
	margin: 0% auto;
	padding: 5px;
	border-radius: 10px;
	color: white;
}

.result input {
	background-color: rgb(201, 66, 66);
	color: white;
}

#pay-btn {
	width: 90%;
	margin-left: 26px;
}

.form-container {
	display: flex;
}

/* footer styling */
.py-5 {
	padding: 60px;
}